body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(222, 221, 221);
}
.calculator {
    width: 450px;
    height: 375px;
    background-color: #14213d;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.display {
    width: 100%;
    height: 80px;
    background: #e5e5e5;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: right;
    padding-top: 25px;
    box-sizing: border-box;
    margin-top: 10px;
}
.button-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: fit-content;
}
.button {
    padding: 15px;

    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color:  #e5e5e5;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
}
.button:hover {
    background-color: #ddd;
}
.button.operation {
    background-color: #fca311;
    color: white;
}
.button.operation:hover {
    background-color: #fca311;
}